aws-lp.pug
doctype html
html(lang='en')
	head
		title ✦‿✦ Nandos
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='HTML5 website template')
		meta(name='keywords', content='global, template, html, sass, jquery')
		meta(name='author', content='45rpm')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700")
		link(rel="stylesheet" href="css/main.min.css")
	
	body
		
		.wrapper-scroll

			include ./includes/_header.pug

			main

				article.content-block.hero-block.aws
					
					.center-container

						.text-side

							a.hero--logo(href='#0')

							h1 Drive Digital Transformation & Collaboration With Atlassian

							p Use Modus To Enhance The Power Of Teamwork Today

							.cta-wrapper
								a(href="#").cta.red
									|GET IN TOUCH

						.illustration
							img(src="https://cdn2.hubspot.net/hubfs/1907998/Archive/AWS%20LP/AWS%20LP%20hero.jpg", alt="")


				article.content-block.alternate-content.atlassian
					.center-container
						.intro-text
							h2 Success Stories

							p To build competitive advantage or address market opportunities for our clients, much of our work is done under NDA. While we can't say who many of these clients are, we enjoy delivering success on products that matter, for clients whose reputations rely on it.

						.content-inner.right-text

							img(src="assets/img/packaging.jpg", alt="")

							.text-wrap

								h4 Challenge

								p A security consulting firm wanted to eliminate waste caused by complex spreadsheets, multiple document storage systems including a lot of repeatable processes and find a smooth way to run them.

								h4 Solution

								p Modus did a Configuration Jumpstart with fresh instances of Jira Software, Jira Service Desk, and Confluence customized to the client’s needs. Then translated those needs into an Atlassian structure of projects and spaces, workflows, custom fields, and apps.


						.content-inner.left-text

							.text-wrap

								h4 Challenge

								p One of the largest online retailers needed a single system of truth for their knowledge base and team collaboration. There were multiple applications in-house already, but none that were ready to support their unique requirements for organization, search, and ease of use.

								h4 Solution

								p Modus provided an Atlassian Expert and Technical Architect to help the client migrate and upgrade from Confluence Server to Data Center to support their 20,000 users. We implemented best practices in configuration, administration, and governance, as well as delivering assets such as custom, reusable templates, and end-user training. Resulting in a highly-available, reliable, and scalable knowledge management system customized for the client’s needs.

							img(src="assets/img/packaging.jpg", alt="")

						

				article.content-block.alternate-content
					.center-container

						.content-inner.left-text

							.text-wrap

								h4 WHY AMAZON + MODUS CREATE TRANSFORMATION FOR TOMORROW, TODAY

								p In a rapidly changing world, the benefits of cloud computing go beyond efficiency, storage capacity, and compute power.  It allows businesses to focus on performance, mobility, scalability, and security. It’s an entirely new way of thinking and operating across any IT environment - an ongoing practice and continuous flow that fuses solutions and drives innovation that delivers value to your consumers. Modus brings our breadth of technical expertise and cloud migration experience to every project and are ready to help you achieve your AWS goals.

							img(src="assets/img/packaging.jpg", alt="")

						.content-inner.right-text

							img(src="assets/img/packaging.jpg", alt="")

							.text-wrap

								h4 Total Cost of Ownership

								p As organizations more frequently adapt cloud-based solutions it dramatically changes the world of enterprise IT.  AWS’ pay-as-you-go method allows your business to adapt as fit. Modus works with you to calculate the TCO helping determine the right way to cloud migration.

								p.strong Discover Your TCO
								
								.cta-wrapper
									a(href="#").cta.red
										|Let's talk

				
				article.content-block.quote-testimonials
					.center-container

						.intro-testimonials
							h2 UNLOCK AWS BENEFITS
							p The foundation of cloud computing – agility, mobility, flexibility, and security - unlocks true value in your business. Going on-demand is advantageous for larger and smaller enterprises by  boosting their operational efficiency and driving endless possibilities for your organization.

						.quote-wrapper.quote-wrapper-slider

							.quote-item
								img( src="https://cdn2.hubspot.net/hubfs/1907998/Archive/AWS%20LP/Improved%20Performance.jpg" alt="Improved Performance")

								h4 Improved Performance

								p Support the most demanding workloads without hardware refreshes through provisioning the compute, storage, and memory.
							
							.quote-item
								img( src="https://cdn2.hubspot.net/hubfs/1907998/Archive/AWS%20LP/Scalability.jpg" alt="Scalability")

								h4 Scalability

								p A new way for your business to effectively respond and adapt its growing or diminishing needs. Set conditions that automatically scale your capacity up or down to maintain availability and optimal resource use.

							.quote-item
								img( src="https://cdn2.hubspot.net/hubfs/1907998/Archive/AWS%20LP/Same%20Tools.jpg" alt="Same Tools")

								h4 Same Tools

								p AWS provides a truly consistent experience that leverages existing virtual machine images and management software like Microsoft System Center to provide functionality across-premises.

							.quote-item
								img( src="https://cdn2.hubspot.net/hubfs/1907998/Archive/AWS%20LP/Global%20Availability.jpg" alt="ok")

								h4 Global Availability

								p Access a broad set of cloud-based products and high performance IT infrastructure.

							.quote-item
								img( src="https://cdn2.hubspot.net/hubfs/1907998/Archive/AWS%20LP/Secure%20Data.jpg" alt="ok")

								h4 Secure Data

								p AWS is designed to safeguard your critical information. A set of best practices, 256-bit encryption, virtual isolation and identity, and access controls work in synchronization to harden AWS’ infrastructure and secure data.

							.quote-item
								img( src="https://cdn2.hubspot.net/hubfs/1907998/Archive/AWS%20LP/Reduce%20Cost%20of%20Data%20Center.jpg" alt="ok")

								h4 Reduce Cost of Data Center

								p Shift your IT spending to a pay-as-you-go model, similar to utility billing. Pay for what you use and only when you use it.

						.testimonials-controls
							.prev.disabled
							.next

						
				article.content-block.aws-what-we-do
					.center-container

						.left-text

							h2 What We Do

							p As organizations more frequently adapt cloud-based solutions it dramatically changes the world of enterprise IT.  AWS’ pay-as-you-go method allows your business to adapt as fit. Modus works with you to calculate the TCO helping determine the right way to cloud migration.

							
						.right-list.text-container
						
							ul 
								li Enterprise NetworkPlanning using AWS

								li AWS Cloud and Hybrid Solution Planning and Migration

								li Deploy Applications to the AWS Cloud

								li Agile Transformation for DevOps

								li Open Source Product Development and Deployment on AWS



				article.content-block.atlassian-benefits
					.center-container

						h2 ATLASSIAN BENEFITS

						p Atlassian offers a robust set of tools to plan for complex challenges, communicate with distributed teams, and collaboratively build products that solve real-world problems. From Confluence to Jira to Bitbucket, Atlassian apps facilitate teamwork.

						ul 
							li 

								img( src="/assets/img/why-4.svg" alt="ok")

								h3 Organization

								p Plan, track, and deploy against complicated design-build tasks.

							li 

								img( src="/assets/img/why-4.svg" alt="ok")

								h3 Colaboration

								p Improve project workflows, give multiple stakeholders visibility, and unite teams.

							li 

								img( src="/assets/img/why-4.svg" alt="ok")

								h3 Automation

								p Make the tools work for you and your team by streamlining and securing passthrough of requirements, workflows, and notifications.

						.cta-wrapper
							.cta.red
								|GET IN TOUCH
				
				article.content-block.gold-solution-block
					.center-container

						.left-side 
							h2 Your Atlassian GOLD Solution Partner

							p Modus provides a full range of services to ensure your organization has standardized workflows and staying aligned along the way. From implementing highly optimized software to providing training in Confluence & Jira for rapid adoption within the organization.

						.right-side.text-container

							.info-item

								h4.blue EXPERT 
								h3 LICENSING
								ul.blue
									li Co-terming Licenses
									li Licensing Consolidation & Renewables
									li Licensing Consultation

							.info-item

								h4.salmon EXPERT 
								h3 ENABLEMENT
								ul.salmon
									li Co-terming Licenses
									li Licensing Consolidation & Renewables
									li Licensing Consultation

							.info-item

								h4.yellow EXPERT 
								h3 CONSULTING
								ul.yellow
									li Co-terming Licenses
									li Licensing Consolidation & Renewables
									li Licensing Consultation


				article.content-block.winning-together-block.aws
					.center-container

						.left-text

							img(src="https://cdn2.hubspot.net/hubfs/1907998/Archive/AWS%20LP/access-code-connection-1181467.png", alt="WINNING TOGETHER")

							.blue-list.text-container
								h4 Capabilities
								ul
									li Product Management and Engineering
									li Customer Experience
									li Agile Transformation
									li Open Source and Emerging Technologies


						.right-text

							h2 WINNING TOGETHER

							p As a global team, we know the importance of collaborative information sharing. With our extensive experience and expertise, we make maximizing your Atlassian tools for your teams simple. Let Modus lead you on your journey to becoming truly agile. Together we will change the way your enterprise communicates and operates.
			

				article.content-block.atlassian-benefits.how-we-work.aws
					.center-container

						h2 HOW WE WORK

						ul.colors
							li 
								.circle.salmon

								h3 Organization

								p Plan, track, and deploy against complicated design-build tasks.

							li 
								.circle.yellow

								h3 Colaboration

								p Improve project workflows, give multiple stakeholders visibility, and unite teams.

							li 
								.circle.blue

								h3 Automation

								p Make the tools work for you and your team by streamlining and securing passthrough of requirements, workflows, and notifications.
							li 
								.circle.salmon

								h3 Organization

								p Plan, track, and deploy against complicated design-build tasks.
						.cta-wrapper
							.cta.red
								|GET IN TOUCH

				article.content-block.banner-block.aws
					.center-container

						h4 BUILD AN
						h2 Efficient and Collaborative Team

						.cta-wrapper
							a.cta.red(href="#")
								|GET IN TOUCH

				article.content-block.winning-together-block.success

					.center-container

						h2 AWS STORY

						p Modernizing Commercial Real Estate

						.inner-success-content

							.left-image 

								img(src="https://cdn2.hubspot.net/hubfs/1907998/Archive/AWS%20LP/AWS%20Story.png", alt="")

							.right-text

								h4 Challenge

								p Client engaged Modus Create to overhaul their existing engineering practices in order to implement a modernized version control system, a microservices architecture in AWS and CI solutions for testing and deployment.

								h4 Solution
								.text-container

									ul
										li Suspendisse vel vulputate ligula. Aenean a quam leo. 
										li Donec venenatis magna ac blandit mattis. Fusce quam sapien, facilisis ut arcu at, condimentum posuere lorem. 
										li Duis commodo mi vitae ex eleifend iaculis. Nullam faucibus erat at eros tristique viverra. 
										li In hac habitasse platea dictumst. Phasellus et ante accumsan, tempor eros eu, vestibulum diam. 
										li Praesent pharetra, justo sodales facilisis congue, libero. 
										li Efficitur tortor, sit amet tincidunt leo dui eget libero. Quisque in augue fermentum, malesuada lectus at, interdum nibh.


				article.content-block.insights-block.aws
					.center-container

						h2 Insights

						.list-insights

							.insight-item
								figure(style="background-image: url('assets/img/mobile-desktop-image.svg');")
									.tag Atlassian

								h4 Top Announcements from Atlassian Summit 2019

								p The Modus team had a great experience at the 2019 Atlassian Summit. The event's presentations and break out sessions revealed some of the exciting new features coming to the Atlassian tool suite. Check out our list of the most interesting announcements from the 2019 summit!


							.insight-item
								figure(style="background-image: url('assets/img/packaging.jpg');")
									.tag Atlassian

								h4 Confluence, ScriptRunner and Impersonation

								p Looking to securely access Confluence data as a specific user in external apps? We’ve done this with custom REST endpoints in ScriptRunner. Learn how to do this yourself in this step-by-step guide!



				article.content-block.winning-together-block
					.center-container

						.left-image 

							img(src="assets/img/image-hero.svg", alt="")

						.right-text

							h2 WINNING TOGETHER

							p As a global team, we know the importance of collaborative information sharing. With our extensive experience and expertise, we make maximizing your Atlassian tools for your teams simple. Let Modus lead you on your journey to becoming truly agile. Together we will change the way your enterprise communicates and operates.
			
				article.content-block.contact-block.aws
					.center-container

						.left-text

							h2 About Modus

							p Modus Create accelerates digital transformation with consulting and product development services. No matter where you are in your journey or where you’re looking to go, our research-driven approach and startup mindset will help you get there faster.

						.right-form

							h3 LET'S TALK
			
			include ./includes/_footer.pug

		script(src='js/bundle.min.js')

build/aws-lp.html
<!DOCTYPE html><html lang="en"><head><title>✦‿✦ Nandos</title><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="description" content="HTML5 website template"><meta name="keywords" content="global, template, html, sass, jquery"><meta name="author" content="45rpm"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700"><link rel="stylesheet" href="css/main.min.css"></head><body><div class="wrapper-scroll"><header><div class="wrap-mobile-item"><a class="header--logo" href="#0"></a><a class="cta red" href="#">Contact Us</a></div></header><main><article class="content-block hero-block aws"><div class="center-container"><div class="text-side"><a class="hero--logo" href="#0"></a><h1>Drive Digital Transformation & Collaboration With Atlassian</h1><p>Use Modus To Enhance The Power Of Teamwork Today</p><div class="cta-wrapper"><a class="cta red" href="#">GET IN TOUCH</a></div></div><div class="illustration"><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/AWS%20LP/AWS%20LP%20hero.jpg" alt=""></div></div></article><article class="content-block alternate-content atlassian"><div class="center-container"><div class="intro-text"><h2>Success Stories</h2><p>To build competitive advantage or address market opportunities for our clients, much of our work is done under NDA. While we can't say who many of these clients are, we enjoy delivering success on products that matter, for clients whose reputations rely on it.</p></div><div class="content-inner right-text"><img src="assets/img/packaging.jpg" alt=""><div class="text-wrap"><h4>Challenge</h4><p>A security consulting firm wanted to eliminate waste caused by complex spreadsheets, multiple document storage systems including a lot of repeatable processes and find a smooth way to run them.</p><h4>Solution</h4><p>Modus did a Configuration Jumpstart with fresh instances of Jira Software, Jira Service Desk, and Confluence customized to the client’s needs. Then translated those needs into an Atlassian structure of projects and spaces, workflows, custom fields, and apps.</p></div></div><div class="content-inner left-text"><div class="text-wrap"><h4>Challenge</h4><p>One of the largest online retailers needed a single system of truth for their knowledge base and team collaboration. There were multiple applications in-house already, but none that were ready to support their unique requirements for organization, search, and ease of use.</p><h4>Solution</h4><p>Modus provided an Atlassian Expert and Technical Architect to help the client migrate and upgrade from Confluence Server to Data Center to support their 20,000 users. We implemented best practices in configuration, administration, and governance, as well as delivering assets such as custom, reusable templates, and end-user training. Resulting in a highly-available, reliable, and scalable knowledge management system customized for the client’s needs.</p></div><img src="assets/img/packaging.jpg" alt=""></div></div></article><article class="content-block alternate-content"><div class="center-container"><div class="content-inner left-text"><div class="text-wrap"><h4>WHY AMAZON + MODUS CREATE TRANSFORMATION FOR TOMORROW, TODAY</h4><p>In a rapidly changing world, the benefits of cloud computing go beyond efficiency, storage capacity, and compute power.  It allows businesses to focus on performance, mobility, scalability, and security. It’s an entirely new way of thinking and operating across any IT environment - an ongoing practice and continuous flow that fuses solutions and drives innovation that delivers value to your consumers. Modus brings our breadth of technical expertise and cloud migration experience to every project and are ready to help you achieve your AWS goals.</p></div><img src="assets/img/packaging.jpg" alt=""></div><div class="content-inner right-text"><img src="assets/img/packaging.jpg" alt=""><div class="text-wrap"><h4>Total Cost of Ownership</h4><p>As organizations more frequently adapt cloud-based solutions it dramatically changes the world of enterprise IT.  AWS’ pay-as-you-go method allows your business to adapt as fit. Modus works with you to calculate the TCO helping determine the right way to cloud migration.</p><p class="strong">Discover Your TCO</p><div class="cta-wrapper"><a class="cta red" href="#">Let's talk</a></div></div></div></div></article><article class="content-block quote-testimonials"><div class="center-container"><div class="intro-testimonials"><h2>UNLOCK AWS BENEFITS</h2><p>The foundation of cloud computing – agility, mobility, flexibility, and security - unlocks true value in your business. Going on-demand is advantageous for larger and smaller enterprises by  boosting their operational efficiency and driving endless possibilities for your organization.</p></div><div class="quote-wrapper quote-wrapper-slider"><div class="quote-item"><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/AWS%20LP/Improved%20Performance.jpg" alt="Improved Performance"><h4>Improved Performance</h4><p>Support the most demanding workloads without hardware refreshes through provisioning the compute, storage, and memory.</p></div><div class="quote-item"><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/AWS%20LP/Scalability.jpg" alt="Scalability"><h4>Scalability</h4><p>A new way for your business to effectively respond and adapt its growing or diminishing needs. Set conditions that automatically scale your capacity up or down to maintain availability and optimal resource use.</p></div><div class="quote-item"><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/AWS%20LP/Same%20Tools.jpg" alt="Same Tools"><h4>Same Tools</h4><p>AWS provides a truly consistent experience that leverages existing virtual machine images and management software like Microsoft System Center to provide functionality across-premises.</p></div><div class="quote-item"><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/AWS%20LP/Global%20Availability.jpg" alt="ok"><h4>Global Availability</h4><p>Access a broad set of cloud-based products and high performance IT infrastructure.</p></div><div class="quote-item"><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/AWS%20LP/Secure%20Data.jpg" alt="ok"><h4>Secure Data</h4><p>AWS is designed to safeguard your critical information. A set of best practices, 256-bit encryption, virtual isolation and identity, and access controls work in synchronization to harden AWS’ infrastructure and secure data.</p></div><div class="quote-item"><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/AWS%20LP/Reduce%20Cost%20of%20Data%20Center.jpg" alt="ok"><h4>Reduce Cost of Data Center</h4><p>Shift your IT spending to a pay-as-you-go model, similar to utility billing. Pay for what you use and only when you use it.</p></div></div><div class="testimonials-controls"><div class="prev disabled"></div><div class="next"></div></div></div></article><article class="content-block aws-what-we-do"><div class="center-container"><div class="left-text"><h2>What We Do</h2><p>As organizations more frequently adapt cloud-based solutions it dramatically changes the world of enterprise IT.  AWS’ pay-as-you-go method allows your business to adapt as fit. Modus works with you to calculate the TCO helping determine the right way to cloud migration.</p></div><div class="right-list text-container"><ul> <li>Enterprise NetworkPlanning using AWS</li><li>AWS Cloud and Hybrid Solution Planning and Migration</li><li>Deploy Applications to the AWS Cloud</li><li>Agile Transformation for DevOps</li><li>Open Source Product Development and Deployment on AWS</li></ul></div></div></article><article class="content-block atlassian-benefits"><div class="center-container"><h2>ATLASSIAN BENEFITS</h2><p>Atlassian offers a robust set of tools to plan for complex challenges, communicate with distributed teams, and collaboratively build products that solve real-world problems. From Confluence to Jira to Bitbucket, Atlassian apps facilitate teamwork.</p><ul> <li> <img src="/assets/img/why-4.svg" alt="ok"><h3>Organization</h3><p>Plan, track, and deploy against complicated design-build tasks.</p></li><li> <img src="/assets/img/why-4.svg" alt="ok"><h3>Colaboration</h3><p>Improve project workflows, give multiple stakeholders visibility, and unite teams.</p></li><li> <img src="/assets/img/why-4.svg" alt="ok"><h3>Automation</h3><p>Make the tools work for you and your team by streamlining and securing passthrough of requirements, workflows, and notifications.</p></li></ul><div class="cta-wrapper"><div class="cta red">GET IN TOUCH</div></div></div></article><article class="content-block gold-solution-block"><div class="center-container"><div class="left-side"> <h2>Your Atlassian GOLD Solution Partner</h2><p>Modus provides a full range of services to ensure your organization has standardized workflows and staying aligned along the way. From implementing highly optimized software to providing training in Confluence & Jira for rapid adoption within the organization.</p></div><div class="right-side text-container"><div class="info-item"><h4 class="blue">EXPERT </h4><h3>LICENSING</h3><ul class="blue"><li>Co-terming Licenses</li><li>Licensing Consolidation & Renewables</li><li>Licensing Consultation</li></ul></div><div class="info-item"><h4 class="salmon">EXPERT </h4><h3>ENABLEMENT</h3><ul class="salmon"><li>Co-terming Licenses</li><li>Licensing Consolidation & Renewables</li><li>Licensing Consultation</li></ul></div><div class="info-item"><h4 class="yellow">EXPERT </h4><h3>CONSULTING</h3><ul class="yellow"><li>Co-terming Licenses</li><li>Licensing Consolidation & Renewables</li><li>Licensing Consultation</li></ul></div></div></div></article><article class="content-block winning-together-block aws"><div class="center-container"><div class="left-text"><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/AWS%20LP/access-code-connection-1181467.png" alt="WINNING TOGETHER"><div class="blue-list text-container"><h4>Capabilities</h4><ul><li>Product Management and Engineering</li><li>Customer Experience</li><li>Agile Transformation</li><li>Open Source and Emerging Technologies</li></ul></div></div><div class="right-text"><h2>WINNING TOGETHER</h2><p>As a global team, we know the importance of collaborative information sharing. With our extensive experience and expertise, we make maximizing your Atlassian tools for your teams simple. Let Modus lead you on your journey to becoming truly agile. Together we will change the way your enterprise communicates and operates.</p></div></div></article><article class="content-block atlassian-benefits how-we-work aws"><div class="center-container"><h2>HOW WE WORK</h2><ul class="colors"><li> <div class="circle salmon"></div><h3>Organization</h3><p>Plan, track, and deploy against complicated design-build tasks.</p></li><li> <div class="circle yellow"></div><h3>Colaboration</h3><p>Improve project workflows, give multiple stakeholders visibility, and unite teams.</p></li><li> <div class="circle blue"></div><h3>Automation</h3><p>Make the tools work for you and your team by streamlining and securing passthrough of requirements, workflows, and notifications.</p></li><li> <div class="circle salmon"></div><h3>Organization</h3><p>Plan, track, and deploy against complicated design-build tasks.</p></li></ul><div class="cta-wrapper"><div class="cta red">GET IN TOUCH</div></div></div></article><article class="content-block banner-block aws"><div class="center-container"><h4>BUILD AN</h4><h2>Efficient and Collaborative Team</h2><div class="cta-wrapper"><a class="cta red" href="#">GET IN TOUCH</a></div></div></article><article class="content-block winning-together-block success"><div class="center-container"><h2>AWS STORY</h2><p>Modernizing Commercial Real Estate</p><div class="inner-success-content"><div class="left-image"> <img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/AWS%20LP/AWS%20Story.png" alt=""></div><div class="right-text"><h4>Challenge</h4><p>Client engaged Modus Create to overhaul their existing engineering practices in order to implement a modernized version control system, a microservices architecture in AWS and CI solutions for testing and deployment.</p><h4>Solution</h4><div class="text-container"><ul><li>Suspendisse vel vulputate ligula. Aenean a quam leo. </li><li>Donec venenatis magna ac blandit mattis. Fusce quam sapien, facilisis ut arcu at, condimentum posuere lorem. </li><li>Duis commodo mi vitae ex eleifend iaculis. Nullam faucibus erat at eros tristique viverra. </li><li>In hac habitasse platea dictumst. Phasellus et ante accumsan, tempor eros eu, vestibulum diam. </li><li>Praesent pharetra, justo sodales facilisis congue, libero. </li><li>Efficitur tortor, sit amet tincidunt leo dui eget libero. Quisque in augue fermentum, malesuada lectus at, interdum nibh.</li></ul></div></div></div></div></article><article class="content-block insights-block aws"><div class="center-container"><h2>Insights</h2><div class="list-insights"><div class="insight-item"><figure style="background-image: url('assets/img/mobile-desktop-image.svg');"><div class="tag">Atlassian</div></figure><h4>Top Announcements from Atlassian Summit 2019</h4><p>The Modus team had a great experience at the 2019 Atlassian Summit. The event's presentations and break out sessions revealed some of the exciting new features coming to the Atlassian tool suite. Check out our list of the most interesting announcements from the 2019 summit!</p></div><div class="insight-item"><figure style="background-image: url('assets/img/packaging.jpg');"><div class="tag">Atlassian</div></figure><h4>Confluence, ScriptRunner and Impersonation</h4><p>Looking to securely access Confluence data as a specific user in external apps? We’ve done this with custom REST endpoints in ScriptRunner. Learn how to do this yourself in this step-by-step guide!</p></div></div></div></article><article class="content-block winning-together-block"><div class="center-container"><div class="left-image"> <img src="assets/img/image-hero.svg" alt=""></div><div class="right-text"><h2>WINNING TOGETHER</h2><p>As a global team, we know the importance of collaborative information sharing. With our extensive experience and expertise, we make maximizing your Atlassian tools for your teams simple. Let Modus lead you on your journey to becoming truly agile. Together we will change the way your enterprise communicates and operates.</p></div></div></article><article class="content-block contact-block aws"><div class="center-container"><div class="left-text"><h2>About Modus</h2><p>Modus Create accelerates digital transformation with consulting and product development services. No matter where you are in your journey or where you’re looking to go, our research-driven approach and startup mindset will help you get there faster.</p></div><div class="right-form"><h3>LET'S TALK</h3></div></div></article></main><footer class="cx"><div class="f-container"><div class="f-left"><a class="f--logo" href="#0"></a></div><div class="f-center"><p>© 2019 Modus. All rights reserved</p><a href="#">Privacy Policy</a></div><div class="f-right"><p>12655 West Jefferson Boulevard</p><p>Los Angeles, California, 90066</p><a href="#">+1 200 124 1365</a><ul class="rss-links"><li><a class="facebook" href="#"></a></li><li><a class="twitter" href="#"></a></li><li><a class="github" href="#"></a></li><li><a class="linkedin" href="#"></a></li><li><a class="instagram" href="#"></a></li></ul></div></div></footer></div><script src="js/bundle.min.js"></script></body></html>
