build/contact.html
<!DOCTYPE html><html lang="es"><head><title>✦‿✦ FMI Merge</title><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="description" content="HTML5 website template"><meta name="keywords" content="global, template, html, sass, jquery"><meta name="author" content="45rpm"><link rel="stylesheet" href="css/main.min.css"></head><body><div class="wrapper-scroll"><header><div class="wrap-mobile-item"><a class="header--logo" href="#0"></a><a class="cta red" href="#">Contact Us</a></div></header><main><section class="content-block hero-contact"><div class="center-container"><div class="text-side"><h1> Contact Us</h1><div class="separator"></div><p>You're not my eater I'm not your food Love you for God Love you for the Mother, You're not my eater I'm not your food Love you for God Love you for the Mother I'm not your food Love</p></div></div></section><section class="content-block contact-section"><div class="center-container"><div class="contact-content"><form method="post" action="" accept-charset="UTF-8" autocomplete="off"><p class="message"></p><div class="left-form"><div class="single-input"><input placeholder="Name*" type="text" name="fromName"></div><div class="single-input"><input type="tel" placeholder="Telephone*" name="fromTel"></div><div class="single-input"><input type="email" placeholder="Email*" name="fromEmail"></div><div class="single-input"><input placeholder="Company*" type="text" name="fromName"></div></div><div class="right-form"><div class="single-input"><select class="select"><option value="volvo">Volvo</option><option value="saab">Saab</option><option value="mercedes">Mercedes</option><option value="audi">Audi</option></select></div><div class="single-input"><textarea placeholder="Message" name="message[body]"></textarea></div><div class="single-input submit"><button class="cta purple" type="submit" placeholder="Submit">Submit</button></div></div></form></div></div></section></main><footer class="cx"><div class="f-container"><div class="f-left"><a class="f--logo" href="#0"></a></div><div class="f-center"><p>© 2019 Modus. All rights reserved</p><a href="#">Privacy Policy</a></div><div class="f-right"><p>12655 West Jefferson Boulevard</p><p>Los Angeles, California, 90066</p><a href="#">+1 200 124 1365</a><ul class="rss-links"><li><a class="facebook" href="#"></a></li><li><a class="twitter" href="#"></a></li><li><a class="github" href="#"></a></li><li><a class="linkedin" href="#"></a></li><li><a class="instagram" href="#"></a></li></ul></div></div></footer></div><script src="js/bundle.min.js"></script></body></html>

contact.pug
doctype html
html(lang='es')
	head
		title ✦‿✦ FMI Merge
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='HTML5 website template')
		meta(name='keywords', content='global, template, html, sass, jquery')
		meta(name='author', content='45rpm')
		link(rel="stylesheet" href="css/main.min.css")
	
	body
		
		.wrapper-scroll

			include ./includes/_header.pug

			main

				section.content-block.hero-contact
					
					.center-container

						.text-side
							
							h1 
								|Contact Us

							.separator
								
							p You're not my eater I'm not your food Love you for God Love you for the Mother, You're not my eater I'm not your food Love you for God Love you for the Mother I'm not your food Love

							
						
				section.content-block.contact-section

					.center-container

						.contact-content

							form(method='post', action='', accept-charset='UTF-8', autocomplete='off')

								p.message

								.left-form

									.single-input
									
										input(placeholder='Name*', type='text', name='fromName')

									.single-input
										input(type='tel', placeholder='Telephone*', name='fromTel')
								
									.single-input
										
										input(type='email', placeholder='Email*', name='fromEmail')

									.single-input
									
										input(placeholder='Company*', type='text', name='fromName')
										
									
									

								.right-form

									.single-input

										select.select
											option(value='volvo') Volvo
											option(value='saab') Saab
											option(value='mercedes') Mercedes
											option(value='audi') Audi

									.single-input
									
										textarea(placeholder='Message', name='message[body]')
								
									.single-input.submit
											
										button.cta.purple(type='submit', placeholder='Submit')
											|Submit


				
							
			include ./includes/_footer.pug
			

		script(src='js/bundle.min.js')
