cx-lp.pug
doctype html
html(lang='en')
	head
		title ✦‿✦ Nandos
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='HTML5 website template')
		meta(name='keywords', content='global, template, html, sass, jquery')
		meta(name='author', content='45rpm')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700")
		link(rel="stylesheet" href="css/main.min.css")
	
	body
		
		.wrapper-scroll

			include ./includes/_header-cx.pug

			main

				article.content-block.hero-cx
					
					.center-container

						.right-content 

							h1 Seeing through the customer's eyes 
							p.big Modus Designs Inspiring Products Led By CX

							img(src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/young-professional-woman-filling-an-accountability-board_t20_d1YzdR@2x.png", alt="Modus Designs Inspiring Products Led By CX")

							p To build competitive advantage or address market opportunities for our clients, much of our work is done under NDA. While we can't say who many of these clients are, we enjoy delivering success on products that matter, for clients whose reputations rely on it.

							.cta-wrapper
								a(href="#").cta.red
									|Let's talk


				article.content-block.alternate-content--cx
					.center-container
						
						.content-inner.left-text

							.text-wrap

								h2 TURN CX INTO A COMPETITIVE ADVANTAGE

								p Modus provided an Atlassian Expert and Technical Architect to help the client migrate and upgrade from Confluence Server to Data Center to support their 20,000 users. We implemented best practices in configuration, administration, and governance, as well as delivering assets such as custom, reusable templates, and end-user training. Resulting in a highly-available, reliable, and scalable knowledge management system customized for the client’s needs.

								
							img(src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/cx-advantage@2x.png", alt="")

						
				article.content-block.solution-block-cx
					.center-container
						
						.right-side.text-container

							.info-item

								img(src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/Group%202.svg", alt="CX Strategy")

								h3 CX Strategy
								ul.cx.yellow
									li Co-terming Licenses
									li Licensing Consolidation & Renewables
									li Licensing Consultation


							.info-item

								img(src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/Group%202.svg", alt="CX Strategy")

								h3 Design Research
								ul.cx.blue
									li Co-terming Licenses
									li Licensing Consolidation & Renewables
									li Licensing Consultation

							.info-item

								img(src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/Group%202.svg", alt="CX Strategy")

								h3 Product Design
								ul.cx.slate
									li Co-terming Licenses
									li Licensing Consolida
									li Licensing Consultation

							.info-item

								img(src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/Group%202.svg", alt="CX Strategy")

								h3 Content Strategy
								ul.cx.salon
									li Co-terming Licenses
									li Licensing Consolid
									li Licensing Consultat

						.text-centered
						
							p.big Learn more about the full Modus Capabilities

							.cta-wrapper
								a(href="#").cta.blue
									|Let's talk

				article.content-block.alternate-content--cx.why--modus
					.center-container
						
						.content-inner.left-text

							.text-wrap

								h2 WHY MODUS

								p Modus provided an Atlassian Expert and Technical Architect to help the client migrate and upgrade from Confluence.
								p Modus provided an Atlassian Expert and Technical Architect to help the client migrate and upgrade from Confluence Server to Data Center to support their 20,000 users. We implemented best practices in configuration, administration, and governance

								
							img(src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/why-modus@2x.png", alt="")

						
				article.content-block.solution-block-cx-inline
					.center-container

						p.big The Modus Advantage
						
						.right-side.text-container

							.info-item

								img(src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/Group%202.svg", alt="CX Strategy")

								h3 CX Strategy
								

							.info-item

								img(src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/Group%202.svg", alt="CX Strategy")

								h3 Design Research
								

							.info-item

								img(src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/Group%202.svg", alt="CX Strategy")

								h3 Product Design
								
							.info-item

								img(src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/Group%202.svg", alt="CX Strategy")

								h3 Content Strategy
								
							.info-item

								img(src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/Group%202.svg", alt="CX Strategy")

								h3 End to End Product Design
								

				article.content-block.our-approach-cx.success

					.center-container

						.inner-content

							.left-image 

								img(src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/our-approach@2x.png", alt="")

							.right-text

								h2 OUR APPROACH

								h4 Great Experiences Created Together

								p Client engaged Modus Create to overhaul their existing engineering practices in order to implement a modernized version control system, a microservices architecture in AWS and CI solutions for testing and deployment.

								
								.text-container

									h4 Learn

									ul.cx
										li Work directly with end users

									
									h4 Prototype

									ul.cx.gray
										li Client engaged Modus Create to overhaul their existing engineering practices in order to implement a modernized version control system, a microservices architecture in AWS and CI solutions for testing and deployment

									
									h4 Build

									ul.cx.blue
										li Client engaged Modus Create to overhaul their existing engineering practices in order to implement a modernized version control system, a microservices architecture in AWS and CI solutions for testing and deployment

									
									h4 Validate

									ul.cx.yellow
										li Client engaged Modus Create to overhaul their existing engineering practices in order to implement a modernized version control system, a microservices architecture in AWS and CI solutions for testing and deployment
										

				article.content-block.our-work--cx
					.center-container
						
						.content-inner.left-text

							.text-wrap

								h2 OUR WORK

								p Modus provided an Atlassian Expert and Technical Architect to help the client migrate and upgrade from Confluence. client migrate and upgrade from Confluence

								.logos-inline
									img(src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/burgerking@2x.png", alt="Burger King")
									img(src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/marriott@2x.png", alt="")

								.info-inline

									p How can Modus kickstart your product o project?

									.cta-wrapper
										a(href="#").cta.blue
											|Let's talk
								
								
							.phone
								img(src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/cx-phone@2x.png", alt="")

				
				article.content-block.contact-block-cx
					.center-container

						.left-text

							h2 About Modus

							p Modus Create accelerates digital transformation with consulting and product development services. No matter where you are in your journey or where you’re looking to go, our research-driven approach and startup mindset will help you get there faster.

						.right-form

							h3 Let's talk
			
			include ./includes/_footer.pug

		script(src='js/bundle.min.js')

build/cx-lp.html
<!DOCTYPE html><html lang="en"><head><title>✦‿✦ Nandos</title><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="description" content="HTML5 website template"><meta name="keywords" content="global, template, html, sass, jquery"><meta name="author" content="45rpm"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700"><link rel="stylesheet" href="css/main.min.css"></head><body><div class="wrapper-scroll"><header class="cx--header"><div class="wrap-mobile-item"><a class="header--logo" href="#0"></a><div class="h-right"><a href="#">+1 200 124 1365</a><ul class="rss-links"><li><a class="facebook" href="#"></a></li><li><a class="twitter" href="#"></a></li><li><a class="github" href="#"></a></li><li><a class="linkedin" href="#"></a></li><li><a class="instagram" href="#"></a></li></ul></div></div></header><main><article class="content-block hero-cx"><div class="center-container"><div class="right-content"> <h1>Seeing through the customer's eyes </h1><p class="big">Modus Designs Inspiring Products Led By CX</p><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/young-professional-woman-filling-an-accountability-board_t20_d1YzdR@2x.png" alt="Modus Designs Inspiring Products Led By CX"><p>To build competitive advantage or address market opportunities for our clients, much of our work is done under NDA. While we can't say who many of these clients are, we enjoy delivering success on products that matter, for clients whose reputations rely on it.</p><div class="cta-wrapper"><a class="cta red" href="#">Let's talk</a></div></div></div></article><article class="content-block alternate-content--cx"><div class="center-container"><div class="content-inner left-text"><div class="text-wrap"><h2>TURN CX INTO A COMPETITIVE ADVANTAGE</h2><p>Modus provided an Atlassian Expert and Technical Architect to help the client migrate and upgrade from Confluence Server to Data Center to support their 20,000 users. We implemented best practices in configuration, administration, and governance, as well as delivering assets such as custom, reusable templates, and end-user training. Resulting in a highly-available, reliable, and scalable knowledge management system customized for the client’s needs.</p></div><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/cx-advantage@2x.png" alt=""></div></div></article><article class="content-block solution-block-cx"><div class="center-container"><div class="right-side text-container"><div class="info-item"><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/Group%202.svg" alt="CX Strategy"><h3>CX Strategy</h3><ul class="cx yellow"><li>Co-terming Licenses</li><li>Licensing Consolidation & Renewables</li><li>Licensing Consultation</li></ul></div><div class="info-item"><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/Group%202.svg" alt="CX Strategy"><h3>Design Research</h3><ul class="cx blue"><li>Co-terming Licenses</li><li>Licensing Consolidation & Renewables</li><li>Licensing Consultation</li></ul></div><div class="info-item"><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/Group%202.svg" alt="CX Strategy"><h3>Product Design</h3><ul class="cx slate"><li>Co-terming Licenses</li><li>Licensing Consolida</li><li>Licensing Consultation</li></ul></div><div class="info-item"><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/Group%202.svg" alt="CX Strategy"><h3>Content Strategy</h3><ul class="cx salon"><li>Co-terming Licenses</li><li>Licensing Consolid</li><li>Licensing Consultat</li></ul></div></div><div class="text-centered"><p class="big">Learn more about the full Modus Capabilities</p><div class="cta-wrapper"><a class="cta blue" href="#">Let's talk</a></div></div></div></article><article class="content-block alternate-content--cx why--modus"><div class="center-container"><div class="content-inner left-text"><div class="text-wrap"><h2>WHY MODUS</h2><p>Modus provided an Atlassian Expert and Technical Architect to help the client migrate and upgrade from Confluence.</p><p>Modus provided an Atlassian Expert and Technical Architect to help the client migrate and upgrade from Confluence Server to Data Center to support their 20,000 users. We implemented best practices in configuration, administration, and governance</p></div><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/why-modus@2x.png" alt=""></div></div></article><article class="content-block solution-block-cx-inline"><div class="center-container"><p class="big">The Modus Advantage</p><div class="right-side text-container"><div class="info-item"><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/Group%202.svg" alt="CX Strategy"><h3>CX Strategy</h3></div><div class="info-item"><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/Group%202.svg" alt="CX Strategy"><h3>Design Research</h3></div><div class="info-item"><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/Group%202.svg" alt="CX Strategy"><h3>Product Design</h3></div><div class="info-item"><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/Group%202.svg" alt="CX Strategy"><h3>Content Strategy</h3></div><div class="info-item"><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/Group%202.svg" alt="CX Strategy"><h3>End to End Product Design</h3></div></div></div></article><article class="content-block our-approach-cx success"><div class="center-container"><div class="inner-content"><div class="left-image"> <img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/our-approach@2x.png" alt=""></div><div class="right-text"><h2>OUR APPROACH</h2><h4>Great Experiences Created Together</h4><p>Client engaged Modus Create to overhaul their existing engineering practices in order to implement a modernized version control system, a microservices architecture in AWS and CI solutions for testing and deployment.</p><div class="text-container"><h4>Learn</h4><ul class="cx"><li>Work directly with end users</li></ul><h4>Prototype</h4><ul class="cx gray"><li>Client engaged Modus Create to overhaul their existing engineering practices in order to implement a modernized version control system, a microservices architecture in AWS and CI solutions for testing and deployment</li></ul><h4>Build</h4><ul class="cx blue"><li>Client engaged Modus Create to overhaul their existing engineering practices in order to implement a modernized version control system, a microservices architecture in AWS and CI solutions for testing and deployment</li></ul><h4>Validate</h4><ul class="cx yellow"><li>Client engaged Modus Create to overhaul their existing engineering practices in order to implement a modernized version control system, a microservices architecture in AWS and CI solutions for testing and deployment</li></ul></div></div></div></div></article><article class="content-block our-work--cx"><div class="center-container"><div class="content-inner left-text"><div class="text-wrap"><h2>OUR WORK</h2><p>Modus provided an Atlassian Expert and Technical Architect to help the client migrate and upgrade from Confluence. client migrate and upgrade from Confluence</p><div class="logos-inline"><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/burgerking@2x.png" alt="Burger King"><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/marriott@2x.png" alt=""></div><div class="info-inline"><p>How can Modus kickstart your product o project?</p><div class="cta-wrapper"><a class="cta blue" href="#">Let's talk</a></div></div></div><div class="phone"><img src="https://cdn2.hubspot.net/hubfs/1907998/Archive/CX%20LP/cx-phone@2x.png" alt=""></div></div></div></article><article class="content-block contact-block-cx"><div class="center-container"><div class="left-text"><h2>About Modus</h2><p>Modus Create accelerates digital transformation with consulting and product development services. No matter where you are in your journey or where you’re looking to go, our research-driven approach and startup mindset will help you get there faster.</p></div><div class="right-form"><h3>Let's talk</h3></div></div></article></main><footer class="cx"><div class="f-container"><div class="f-left"><a class="f--logo" href="#0"></a></div><div class="f-center"><p>© 2019 Modus. All rights reserved</p><a href="#">Privacy Policy</a></div><div class="f-right"><p>12655 West Jefferson Boulevard</p><p>Los Angeles, California, 90066</p><a href="#">+1 200 124 1365</a><ul class="rss-links"><li><a class="facebook" href="#"></a></li><li><a class="twitter" href="#"></a></li><li><a class="github" href="#"></a></li><li><a class="linkedin" href="#"></a></li><li><a class="instagram" href="#"></a></li></ul></div></div></footer></div><script src="js/bundle.min.js"></script></body></html>
